body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: url('./img/grass.jpg');
  background-size: 90%;
  background-repeat: repeat;
  color: white;
  font-size: 15px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.square {
  border-image-source:url('./img/fence2.PNG');
  border-image-slice: 50%;
  border-image-width: 0px 200px 100px 200px;
  border-left: brown solid 2px;
  float: left;
  font-size: 0px;
  line-height: 34px;
  height: 200px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: -1px;
  text-align: center;
  width: 200px;
  background-color: rgba(18, 126, 8, 0.6)
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.square.xstyle {
  background-size: contain;
  background-image:url('./img/cow.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.square.ostyle {
  background-size: contain;
  background-image:url('./img/horse.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.square.active {
  background: red;
}

.xhover .square:hover {
  background-color: rgba(255, 25, 0, 0.5);
  color: white;
}

.ohover .square:hover {
  background-color:rgba(18, 91, 177, 0.5);
  color:white;
}


.game-container {
  display: flex;
}

.game-info {
  padding: 10px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 50%;
}

.status {
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
}

a {
  color: rgb(13, 185, 223);
}
